:root {
  --mainColor: #663333;
  --secondaryColor: #e8ddd3;
  --thirdColor: #754343;
  --acsentColor: #ff9100;
}

body {
  background-color: var(--mainColor);
  min-height: 900px;
  font-family: "Ubuntu", sans-serif;
}

section h1 {
  color: #fff;
  font-size: 2.5rem;
}
/* Navbar */
.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 700;
}

.nav-dark {
  background-color: var(--thirdColor) !important;
  z-index: 10;
  transition: 0.8s;
}
/* Akhir Navbar */

/* Hero */
.color-acsent {
  color: var(--acsentColor);
}

#hero {
  color: #fff;
  min-height: 100vh;
  padding-top: 75px;
}

#hero h1 {
  font-size: 3rem;
}

#hero h2 {
  font-weight: 300;
}

#hero p {
  font-size: 1.1rem;
  font-weight: 300;
}

/* Call To Action */
.btn-custom1 {
  background-color: var(--acsentColor);
  text-align: center;
  color: #fff;
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-custom1:hover {
  box-shadow: 0 0 5px rgba(255, 166, 0, 0.8);
}

.cv {
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
}

.cv:hover {
  color: var(--acsentColor);
}

.iconcv {
  color: #fff;
  cursor: pointer;
}

.iconcv:hover {
  color: var(--acsentColor);
}

.social-icon svg {
  margin-right: 0.7em;
  margin-bottom: 10px;
}

.social-icon-footer svg {
  margin-right: 0.7em;
  margin-bottom: 10px;
  color: #fff;
}

/* Akhir Call To Action */

/* Akhir Hero */

/* Tentang */
hr {
  width: 35%;
  height: 5px;
  color: var(--mainColor);
  margin: 0 auto;
  opacity: 100;
}

#tentang {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--mainColor);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.color-main {
  color: var(--mainColor);
}
/* Akhir Tentang */

/* Kemampuan */
#kemampuan {
  min-height: 600px;
  width: 100%;
  color: #fff;
}

#kemampuan img {
  width: 14%;
  margin: 10px;
}
/* Akhir Kemampuan */

/* Sertifikat */
/* #sertifikat {
  margin-top: -170px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--secondaryColor);
}

#sertifikat img {
  width: 49%;
  padding: 10px;
} */
/* Akhir Sertifikat */

/* Portofolio */
#portofolio .container {
  padding: 80px 10px;
  background-color: var(--secondaryColor);
}

#PortofolioGame {
  background-color: var(--secondaryColor);
}
/* Akhir Portofolio */
